<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Red: Gemini, búsqueda de lugares. Flutter solo lo añade en debug. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Ubicación para "lugares cerca de mí". -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Cámara: image_picker usa la app de cámara del sistema, que no necesita
         el permiso CAMERA. Si se declarara sin pedirlo en tiempo de ejecución,
         Android bloquearía la cámara con un SecurityException. -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <!-- Micrófono para el asistente por voz. -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- Notificaciones (Android 13+) para recordatorios y push. -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:label="NOVA AI"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <!-- url_launcher: abrir mapas y enlaces web ("Cómo llegar"). -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="geo" />
        </intent>
        <!-- speech_to_text: dictado y modo voz (Android 11+). -->
        <intent>
            <action android:name="android.speech.RecognitionService" />
        </intent>
        <!-- flutter_tts: leer las respuestas de NOVA en voz alta. -->
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>
</manifest>
